In [5]:
import numpy as np
import pandas as pd

series = pd.Series([1, 3, np.nan, 4]) #np.nan은 결측값
print(series)

0    1.0
1    3.0
2    NaN
3    4.0
dtype: float64

In [4]:
name_series = pd.Series(['김수안', '김수정', '박동윤', '강이안', '강지안', '박동민'])
age_series = pd.Series([19, 23, 22, 19, 16, 25])
school_series = pd.Series(['고교', '대학', '대학', '고교', '중학교', '대학원'])
grade_series = pd.Series([4.35, 4.23, 4.25, 4.37, 4.25, 4.5])

print(name_series, age_series, school_series, grade_series)

0    김수안
1    김수정
2    박동윤
3    강이안
4    강지안
5    박동민
dtype: object 0    19
1    23
2    22
3    19
4    16
5    25
dtype: int64 0     고교
1     대학
2     대학
3     고교
4    중학교
5    대학원
dtype: object 0    4.35
1    4.23
2    4.25
3    4.37
4    4.25
5    4.50
dtype: float64

In [6]:
df = pd.DataFrame({'이름' : name_series, '나이': age_series, '학교': school_series, '학점': grade_series})
print(df)

    이름  나이   학교    학점
0  김수안  19   고교  4.35
1  김수정  23   대학  4.23
2  박동윤  22   대학  4.25
3  강이안  19   고교  4.37
4  강지안  16  중학교  4.25
5  박동민  25  대학원  4.50